.general-info {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.location h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.location h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.tag-item {
  display: block;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  font-size: 14px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.host-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 20px;
}

.host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}

.host-picture {
  overflow: hidden;
  border-radius: 50%;
  height: 64px;
}

.host-picture img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.host h3 {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  margin: 0;
}

.fa-star {
  font-size: 30px;
  margin-left: 5px;
}

@media screen and (max-width: 950px) {
  .general-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .location h2 {
    font-size: 18px;
  }
  .location h3 {
    font-size: 14px;
  }
  .tag-item {
    font-size: 10px;
  }
  .host-rating {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  .host h3 {
    font-size: 12px;
  }
  .host-picture {
    height: 40px;
  }
  .rating img {
    height: 15px;
  }
}
